@import "../styles/mixins";
@import "../styles/breakpoints";

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.activity {
  @include flex(column, flex-start, center);
  margin-bottom: 10rem;
  margin-top: 10rem;
  text-align: center;
  &__header {
    @include flex(column, center, center);
    line-height: 2rem;
    letter-spacing: 0.25rem;
    & h2 {
      font-weight: 700;
    }
    & h3 {
      font-size: 15px;
    }
  }
  &__content {
    @include flex(row, center, center);
    flex-wrap: wrap;
    gap: 5rem;
    & article {
      @include flex(column, center, center);
      margin-top: 4rem;
      gap: 1rem;
      flex-wrap: wrap;
      max-width: 20rem;
      & h4 {
        font-size: 28px;
        font-weight: 500;
      }
      & p {
        color: rgb(110, 110, 110);
      }
    }
  }
}
