@import "../../styles/mixins";
@import "../../styles/breakpoints";

.footer {
  background-color: black;
  padding: 1rem;
  &__social {
    @include flex(row, center, center);
    gap: 1.5rem;
  }
  &__text {
    @include flex(column, center, center);
    & ul {
      @include flex(row, center, center);
      flex-wrap: wrap;
      gap: 1rem;
      list-style-type: none;
      & li {
        border-bottom: 1px rgb(206, 206, 206) solid;
      }
    }
    & p {
      color: rgb(206, 206, 206);
      font-size: 14px;
    }
  }
  &__link {
    text-decoration: none;
    color: rgb(224, 205, 205);
    transition: all 0.25s;
    &:hover {
      color: rgb(255, 130, 130);
      transition: all 0.25s;
    }
  }
}
